{# Attach the library of css with the classes of icons to show #}
{{ attach_library('field_icons/icon-styling') }}

<div class="icon-container">

  {% if class_icon != 'uncategorized' %}

    <i class="{{ class_icon }}"></i>
    <span><strong><i>Category: </i> <em>{{ class_icon }}</em></span>

  {% else %}

    <i class="uncategorized"></i>
    <span><strong><i>Category: </i> <em>Uncategorized</em></span>

  {% endif %}  

</div>
