{# Attach the library of css with the classes of icons to show #}
{{ attach_library('field_icons/icon-styling') }}

{% if class_icon != 'uncategorized' %}

  <div class="icon-container">

    <i class="{{ class_icon }}"></i>
    <span><strong><em>Category: </em> <em>{{ name_icon }}</em></span>
  
  </div>
  
{% endif %}    
