{# Attach the library of css with the classes of icons to render #}
{{ attach_library('field_icons/icon-styling') }}

<div class="icon-container">
  <p>
    <i class="{{ class_icon }}"></i>
    <span>The category of this <em>Icons</em> is <strong>{{ class_icon }}</strong></span>
  </p>
</div>